/* videoDetailComponent's private CSS styles */
body {
  background-color: #2d3436;
  margin: 10%;
}
/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.5 rem;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  min-height: 300px;
}
.card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  min-height: 300px;
}

.img {
  border-radius: 0%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

.details-container {
  flex: 2;
}

.avatar-container {
  flex: 1;
}


label {
  display: inline-block;
  width: 3em;
  margin: 0.5em 0;
  color: #607d8b;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: 0.4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
