<!--if there is a video selected then display the details -->
<div *ngIf="video">
    <div class="row">
        <div class="avatar-container">
            <div class="photo">
                <img class="img" [src]="video.thumbnailUrl"/>
            </div>
        </div>
        <div class="details-container">
            <div class="content">
                <b><h3>{{ video.title }}</h3></b>
                <p>
                    {{ video.description }}
                </p>
            </div>
        </div>
    </div>


    <button (click)="goBack()">go back</button>

</div>


