<ul class="videos yt-c-videos__list cards">
  <li *ngFor="let video of videos" class="cards__item">
    <div class="card">
      <img [src]="video.snippet.thumbnails.medium.url" class="card__image" />
      <div class="card__content">
        <div class="card__title">
          <b> {{ video.snippet.title }} <br /> </b>
        </div>
        <button class="btn btn--block card__btn">
          <a routerLink="/detail/{{ video.id.videoId }}">View</a>
        </button>
      </div>
    </div>
  </li>
</ul>
